$body-background: #d3d3d3;
$nav-background:#2b6777;
$primary-color: rgb(20, 115, 198);
$primary-color-hover: rgb(2, 79, 147);
$success-color:#28a745;
$success-color-hover:#28a746dd;
$hover-text-color:rgb(255, 136, 0);
$danger-color: #d9534f;
$default-color: #6c757d;
$card-bg-color: #c8d8e4;
$admin-color:rgba(128, 0, 128, 0.91);
$nav-color-active: #52ab98;
$dark-color:black;
  
@media screen and (max-height: 750px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
@media screen and (max-width: 600px) {
    .card {
        max-width:200px !important;
    }
    .card-image img {
        width:200px !important;
    }
  }

@mixin card {
    border:1px solid rgba(0,0,0,0);
    display:flex;
    margin:1rem;
    flex-direction: column;
    width:fit-content;
    background-color:white;

    & .bg-primary {
        background-color:$primary-color;
    }

    & .bg-danger {
        background-color:$danger-color;
    }

    & .bg-dark {
        background-color:$dark-color;
    }

    & .bg-success {
        background-color:$success-color;
    }

    & .bg-default {
        background-color:$default-color;
    }

   &:hover {
    background-color:white;
    transition: 400ms;
    transform: scale(1.1);
    margin-bottom:30px;

    & .card-table {
        height:200px !important;
    }

    & .card-price {
        text-decoration:underline;
    }

    & .card-retired {
        text-decoration:line-through;
    }
    
    & .card-title {
        color:$primary-color-hover;
        transition: 400ms;
        border-color: $primary-color-hover;
        display: inline-block;
        text-transform: uppercase;
    }

    & .card-table {
        transform:none !important;
    }

    & .card-model {
        color:$primary-color-hover;
        transition: 400ms;
        border-color: $primary-color-hover;
        display: inline-block;
    }

    & img {
        opacity: 1;
    }

}
}
//Element for the CEO section.
@mixin profile {
    border:1px solid $primary-color;
    display:flex;
    flex-direction: row;
    gap:2rem;
    width:fit-content;
}

@mixin panel {
    display:flex;
    margin:2rem;
    flex-direction: column;
    width:fit-content;
    padding:24px;
    color:white;

   &:hover {
    background-color:rgb(9, 9, 10);
    color:white;
}
}

@mixin form {
    margin:2rem;
    width:90%;
    padding:24px;
    height:auto;
}

@mixin hovereffect {
    transition:all 0.2s;
    &:hover {
        transform:translateY(5px);
        background-color:randomColor();
    }
    &:active {
        transform:translateY(-2px);
    }
}

body {
    height:100%;
    width:100vw;
    background-color:$card-bg-color;
    font-family:sans-serif;
    padding:20px;
    overflow-x: hidden;
}

main {
    margin-left: 200px;
}

// Navigation menu (sidebar).
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $nav-background;
    overflow-x: hidden;
    padding-top: 20px;

    & a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        display: block;
        font-weight:bolder;
    }

    & a:visited {
        color:white;
    }

    &-active {
        color: $nav-color-active;
    }

    &-active:visited {
        color: $nav-color-active !important;
    }

    &-active:hover {
        color:$nav-color-active;
    }

    & a:hover {
        color:$nav-color-active;
        border-bottom:1px solid;
    }

  }
  

.title {
    text-align:center;
}


.jumbotron {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-right:4px;
    flex-direction:row;
}

.ceo {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    flex-direction:row;
}
//View product description.

.table {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    width:fit-content;
    width: 600px;
    border-radius: 8px;
    background-color:white;
    height:200px;

    & .bg-primary {
        background-color:$primary-color;
    }

    & .bg-danger {
        background-color:$danger-color;
    }

    & .bg-dark {
        background-color:$dark-color;
    }

    & .bg-success {
        background-color:$success-color;
    }

    & .bg-default {
        background-color:$default-color;
    }

    &-title {
        color:rgb(255, 136, 0);
        text-align:center;
        font-weight:bold;
        text-decoration: underline;
        padding:2px;
    }

    &-desc {
        color:slategrey;
        margin-left:4px;
        margin-right:4px;
        margin-top:2rem;
        
        & li {
            list-style:none;
        }
    }

    &-footer {
        height: 70px;
        border-top:1px solid black;
        display:grid;
        background-color:black;
        justify-content:center;
        font-weight:bold;
        cursor:pointer;
        color:white;
    }
}

//Team image.
.team {
    margin-top:20px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    flex-direction:column;
    overflow:hidden;
    height:200px;


    &-picture {
        width:98%;
        height:400px;
    }
}

.form {
    @include form();
    margin-top:20px;
    height:auto;
    
    
    &-input {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;

        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }
    
        textarea {
            height:200px;
        }

        input[type=file] {
            display: none;
        }

        select {
            font-weight:bold;
            width:94% !important;
        }
        
        input[type=text], input[type=email], input[type=number], textarea, select {
            width: 90%;
            color:$admin-color;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
          }
    }

    &-file {
        cursor:pointer;
        background-color:$primary-color;
        height:30px;
        width:90px;
        text-align:center !important;
    }

    &-file:hover {
        background-color:rgb(2, 79, 147);
    }

    &-btn-file {
        margin-top:4px;
        color:white;
        font-weight:bolder;
    }

    &-btn-create {
        width:94%;
        height:40px;
        background-color:$success-color;
        color:white;
        float:left;
        font-weight:bolder;
        cursor: pointer;
    }

    &-btn-create:hover {
        background-color:$success-color-hover;
    }

    &-row {
        margin-top:5px;
    }

    &-row:after {
    content: "";
    display: table;
    clear: both;
    }

    &-labels {
        float:left;
        width: 25%;
        margin-top: 6px;
    }

    &-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

      &-name {
        color:white;
        margin-top:10px;
        font-family: bold;
      }

    &-btn {
        width: 94%;
        color: white;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-weight:bolder;
        resize: vertical;
        background-color:black;
        cursor: pointer;
    }

    &-alert {
        background-color:$admin-color;
        width:100%;
        color:white;
        font-weight: bold;
        height:50px;
        display: flex;
        justify-content: center;
    }

}

    // Jquery "Just buy it" slogan. 
    .hid {
        color:orange;
        font-weight: bold;
    }

.contact {
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    flex-direction: none;
    margin-left:10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    flex-direction:row;
    margin-left:10px;
}
// Card elements.
.card {
    @include card();
    width: fit-content;
    max-width:310px;
    border-radius:6px;

    & .img-sm {
       width:200px;
       height:200px;
       max-height:200px !important;
       align-items: center;

       & img {
        width:200px;
        height:200px;
       }
    }

&-table {
    background-color:white;
    height:200px;
    width:500px !important;
}

&-title {
    font-size:1.2rem;
    margin-left:4px;
    text-align:center;
    color:$primary-color;
    font-weight:bold;
}

&-price {
    margin-left:4px;
    color:$success-color;
    text-align:center;
    margin-top:0px;
}

&-retired {
    color:$danger-color;
    margin-left:4px;
    margin-top:0px;
    text-decoration:line-through;
    text-align:center;
}

&-model {
    font-size:1.2rem;
    text-align:center;
    color:$primary-color;
}

&-image {
    max-height:300px;
    height:300px;
    background-color:white;
    display: flex;
    align-items: center;

    & img {
        width:300px;
        opacity: 0.8;
    }

}

&-text {
    margin-left:4px;
    margin-right:4px;
    margin-top:0;
    margin-bottom:0px;
}

&-button {
    background-color:$danger-color;
    color:white;
    margin-top:20px;
    margin-bottom:25px;
    margin-left:4px;
    width:40%;
    border-radius:6px;
    padding:4px;

}

&-tag {
    width:auto;
    transform:translate(0,-6px);
    height:20px;
    display: flex;
    align-items: center;
}

&-tag-text {
    border-radius:5px;
    padding:4px;
    color:white;
    text-align:center;
    margin-left:1.2rem;

}

&-bg-danger
{
    background-color:$primary-color;
}

&-featured {
    max-width:1200px;
    
    
    & .card-title {
        font-size:1.5rem;
        color:white;
    }
}

}

// Panel/jumbotron element.
.panel {
    @include panel();
    width: fit-content;
    background-color:white;
    border-radius:6px;
    color:black;

&-title {
    font-size:1.5rem;
}

&-about {
    margin-top:0px;
}

&-h {
    margin-bottom:0px;
}

&-featured {
    max-width:1000px;
}

}

// CEO profile element.
.profile {
    @include profile();
    width: fit-content;
    background-color:$danger-color;
    border-radius:6px;
    width:400px;
    height:200px;

&-text {
    flex-direction: column;
    text-align:right;
    color:white;
    text-align:left;

    a {
        color:white;
        text-transform:uppercase;
        text-decoration: none;
    }

    a::after {
        content: "\a";
        white-space: pre;
    }

    a:visited {
        color:white;
    }
}
}
