@media screen and (max-height: 750px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .card {
    max-width: 200px !important;
  }
  .card-image img {
    width: 200px !important;
  }
}
body {
  height: 100%;
  width: 100vw;
  background-color: #c8d8e4;
  font-family: sans-serif;
  padding: 20px;
  overflow-x: hidden;
}

main {
  margin-left: 200px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2b6777;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  font-weight: bolder;
}
.sidenav a:visited {
  color: white;
}
.sidenav-active {
  color: #52ab98;
}
.sidenav-active:visited {
  color: #52ab98 !important;
}
.sidenav-active:hover {
  color: #52ab98;
}
.sidenav a:hover {
  color: #52ab98;
  border-bottom: 1px solid;
}

.title {
  text-align: center;
}

.jumbotron {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-right: 4px;
  flex-direction: row;
}

.ceo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
}

.table {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  width: fit-content;
  width: 600px;
  border-radius: 8px;
  background-color: white;
  height: 200px;
}
.table .bg-primary {
  background-color: rgb(20, 115, 198);
}
.table .bg-danger {
  background-color: #d9534f;
}
.table .bg-dark {
  background-color: black;
}
.table .bg-success {
  background-color: #28a745;
}
.table .bg-default {
  background-color: #6c757d;
}
.table-title {
  color: rgb(255, 136, 0);
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding: 2px;
}
.table-desc {
  color: slategrey;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2rem;
}
.table-desc li {
  list-style: none;
}
.table-footer {
  height: 70px;
  border-top: 1px solid black;
  display: grid;
  background-color: black;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.team {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
  overflow: hidden;
  height: 200px;
}
.team-picture {
  width: 98%;
  height: 400px;
}

.form {
  margin: 2rem;
  width: 90%;
  padding: 24px;
  height: auto;
  margin-top: 20px;
  height: auto;
}
.form-input {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.form-input label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.form-input textarea {
  height: 200px;
}
.form-input input[type=file] {
  display: none;
}
.form-input select {
  font-weight: bold;
  width: 94% !important;
}
.form-input input[type=text], .form-input input[type=email], .form-input input[type=number], .form-input textarea, .form-input select {
  width: 90%;
  color: rgba(128, 0, 128, 0.91);
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.form-file {
  cursor: pointer;
  background-color: rgb(20, 115, 198);
  height: 30px;
  width: 90px;
}
.form-file:hover {
  background-color: rgb(2, 79, 147);
}
.form-btn-file {
  margin-top: 4px;
  color: white;
  font-weight: bolder;
  display: grid;
  justify-content: center;
}
.form-btn-create {
  width: 94%;
  height: 40px;
  background-color: #28a745;
  color: white;
  float: left;
  font-weight: bolder;
  cursor: pointer;
}
.form-btn-create:hover {
  background-color: rgba(40, 167, 70, 0.8666666667);
}
.form-row {
  margin-top: 5px;
}
.form-row:after {
  content: "";
  display: table;
  clear: both;
}
.form-labels {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.form-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.form-name {
  color: white;
  margin-top: 10px;
  font-family: bold;
}
.form-btn {
  width: 94%;
  color: white;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bolder;
  resize: vertical;
  background-color: black;
  cursor: pointer;
}
.form-alert {
  background-color: rgba(128, 0, 128, 0.91);
  width: 100%;
  color: white;
  font-weight: bold;
  height: 50px;
  display: flex;
  justify-content: center;
}

.hid {
  color: orange;
  font-weight: bold;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: none;
  margin-left: 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
  margin-left: 10px;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  margin: 1rem;
  flex-direction: column;
  width: fit-content;
  background-color: white;
  width: fit-content;
  max-width: 310px;
  border-radius: 6px;
}
.card .bg-primary {
  background-color: rgb(20, 115, 198);
}
.card .bg-danger {
  background-color: #d9534f;
}
.card .bg-dark {
  background-color: black;
}
.card .bg-success {
  background-color: #28a745;
}
.card .bg-default {
  background-color: #6c757d;
}
.card:hover {
  background-color: white;
  transition: 400ms;
  transform: scale(1.1);
  margin-bottom: 30px;
}
.card:hover .card-table {
  height: 200px !important;
}
.card:hover .card-price {
  text-decoration: underline;
}
.card:hover .card-retired {
  text-decoration: line-through;
}
.card:hover .card-title {
  color: rgb(2, 79, 147);
  transition: 400ms;
  border-color: rgb(2, 79, 147);
  display: inline-block;
  text-transform: uppercase;
}
.card:hover .card-table {
  transform: none !important;
}
.card:hover .card-model {
  color: rgb(2, 79, 147);
  transition: 400ms;
  border-color: rgb(2, 79, 147);
  display: inline-block;
}
.card:hover img {
  opacity: 1;
}
.card .img-sm {
  width: 200px;
  height: 200px;
  max-height: 200px !important;
  align-items: center;
}
.card .img-sm img {
  width: 200px;
  height: 200px;
}
.card-table {
  background-color: white;
  height: 200px;
  width: 500px !important;
}
.card-title {
  font-size: 1.2rem;
  margin-left: 4px;
  text-align: center;
  color: rgb(20, 115, 198);
  font-weight: bold;
}
.card-price {
  margin-left: 4px;
  color: #28a745;
  text-align: center;
  margin-top: 0px;
}
.card-retired {
  color: #d9534f;
  margin-left: 4px;
  margin-top: 0px;
  text-decoration: line-through;
  text-align: center;
}
.card-model {
  font-size: 1.2rem;
  text-align: center;
  color: rgb(20, 115, 198);
}
.card-image {
  max-height: 300px;
  height: 300px;
  background-color: white;
  display: flex;
  align-items: center;
}
.card-image img {
  width: 300px;
  opacity: 0.8;
}
.card-text {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 0;
  margin-bottom: 0px;
}
.card-button {
  background-color: #d9534f;
  color: white;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 4px;
  width: 40%;
  border-radius: 6px;
  padding: 4px;
}
.card-tag {
  width: auto;
  transform: translate(0, -6px);
  height: 20px;
  display: flex;
  align-items: center;
}
.card-tag-text {
  border-radius: 5px;
  padding: 4px;
  color: white;
  text-align: center;
  margin-left: 1.2rem;
}
.card-bg-danger {
  background-color: rgb(20, 115, 198);
}
.card-featured {
  max-width: 1200px;
}
.card-featured .card-title {
  font-size: 1.5rem;
  color: white;
}

.panel {
  display: flex;
  margin: 2rem;
  flex-direction: column;
  width: fit-content;
  padding: 24px;
  color: white;
  width: fit-content;
  background-color: white;
  border-radius: 6px;
  color: black;
}
.panel:hover {
  background-color: rgb(9, 9, 10);
  color: white;
}
.panel-title {
  font-size: 1.5rem;
}
.panel-about {
  margin-top: 0px;
}
.panel-h {
  margin-bottom: 0px;
}
.panel-featured {
  max-width: 1000px;
}

.profile {
  border: 1px solid rgb(20, 115, 198);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: fit-content;
  width: fit-content;
  background-color: #d9534f;
  border-radius: 6px;
  width: 400px;
  height: 200px;
  margin-left: 2rem;
}
.profile-text {
  flex-direction: column;
  text-align: right;
  color: white;
  text-align: left;
}
.profile-text a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.profile-text a::after {
  content: "\a";
  white-space: pre;
}
.profile-text a:visited {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
